<table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="content-cell" align="center">
            <p class="f-fallback sub align-center">&copy; 2023 RazorLight.Samples. All rights reserved.</p>
            <p class="f-fallback sub align-center">
                @ViewBag.CompanyName
                <br />@ViewBag.CompanyAddress
            </p>
        </td>
    </tr>
</table>