<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <table class="email-header" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="email-masthead">
                        <a href="https://github.com/toddams/RazorLight" class="f-fallback email-masthead_name">RazorLight.Samples</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>